@use '@global/style/global' as *;

.overlay
{
  position: fixed;
  z-index: $z_50;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background-color: rgba($black, 0.5);
  transition: opacity 0.5s, visibility 0.5s;
}

.overlay--active
{
  visibility: visible;
  opacity: 1;
}