---
import Input from '@global/component/input.astro';
import BaseLayout from '@global/layout/base_layout.astro';
---
<BaseLayout
  metaData={{
    description: '',
    keywords: [],
    title: ''
  }}
>
  <h1 class='header'>Hola mundo</h1>
  <form class="form">
    <Input
      name='world'
      iconLeft='square'
      label='Hola mundo'
      iconRight='square'
      placeholder='Ingresa un país'
      required
    />
    <Input
      name='world2'
      label='Hola mundo'
      placeholder='Ingresa un país'
    />
  </form>
  </div>
</BaseLayout>

<script>
  import { animate } from '@global/util/animation';

  animate();
</script>