---
import Icon from '@global/component/icon.astro';
import Overlay from '@global/component/overlay.astro';
import Scroll from '@global/component/scroll.astro';

import type { ScrollComponentProps } from '@global/type/scroll_type';

type Props = ScrollComponentProps &
{
  name: string;
  title?: string;
  classScroll?: string;
};

const {
  classScroll, name, orientation, title
} = Astro.props;
---
<dialog
  data-modal={name}
  class='base-layout modal'
>
  <Overlay data-modal-overlay class='modal__overlay' />
  <div class='modal__container'>
    <div class='modal__container-title'>
      <h2 class='modal__title'>{title}</h2>
      <button data-modal-button-close class='modal__button-close'>
        <Icon name='error' class='modal__icon-close' />
      </button>
    </div>
    <Scroll
      class='modal__content'
      orientation={orientation}
      class:list={[ classScroll ]}
    >
      <slot />
    </Scroll>
  </div>
</dialog>

<script>
  const modal = document.querySelectorAll('[data-modal]');

  modal.forEach((element) => {
    const overlay = element.querySelector('[data-modal-overlay]');
    const buttonClose = element.querySelector('[data-modal-button-close]');

    const closeModal = () =>
    {
      element.classList.remove('modal--active');
    }

    overlay?.addEventListener('click', closeModal);
    buttonClose?.addEventListener('click', closeModal);
  })
</script>